.register__area-one {
    padding: 120px 0px 250px 0px;
    background-image: url(../img/register/bg-register.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
