$colors: (
    body: (
        color: #3e4073,
    ),
    heading: (
        color: #14176c,
    ),
    theme: (
        primary: #f7a400,
        secondary: #191d88,
    ),
    color: (
        dark-blue: #0e104b,
        yellow-light: #fef6e6,
        yellow-light-2: #fffbf3,
        yellow-light-3: #f5eacd,
        yellow-light-4: #fde3b0,
        white-default: #ffffff,
        gray-1: #e6eeff,
        gray-2: #b8b9da,
        gray-3: #ecf6fa,
        gray-4: #818298,
        gray-5: #e2e3f1,
        gray-6: #f7f7f8,
        dark: #1c1a4a,
        black-1: #06042e,
        black-2: #161439,
    ),
    border: (
        1: #cfdde2,
        2: #e6e7f3,
        3: #c5c6e4,
        4: #dbe3eb,
        5: #9597c8,
        6: #dadbec,
        7: #e9e9f0,
        8: #e08b00,
        9: #d0d6e1,
    ),
);
